 <div class="demo">
                    <div class="ratingControl overflow-auto">
                        <ul class="marginZero">
                                <li class="pos-rel rating-option">
                                         <i class="fa fa-star" ng-click="SaveStarAnswer(1)"></i>
                                         <i class="fa fa-star back"></i>
                                    </li>
                                    <li class="pos-rel rating-option">
                                        <i class="fa fa-star" ng-click="SaveStarAnswer(2)"></i>
                                        <i class="fa fa-star back"></i>
                                    </li>
                                    <li class="pos-rel rating-option">
                                        <i class="fa fa-star" ng-click="SaveStarAnswer(3)"></i>
                                        <i class="fa fa-star back"></i>
                                    </li>
                                    <li class="pos-rel rating-option">
                                        <i class="fa fa-star-o" ng-click="SaveStarAnswer(4)"></i>
                                        <i class="fa fa-star back"></i>
                                    </li>
                                    <li class="pos-rel rating-option">
                                        <i class="fa fa-star-o" ng-click="SaveStarAnswer(5)"></i>
                                        <i class="fa fa-star back"></i>
                                    </li>
                        </ul>
                        
                        
                       <!--  <input type="radio" id="rating-5" name="rating" value="5" ng-model='SelectedValues.single'>
                        <label class="ratingControl-stars ratingControl-stars--5" for="rating-5" ng-click="SaveStarAnswer(5)">5</label>
                        <input type="radio" id="rating-45" name="rating" value="4.5" ng-model='SelectedValues.single'>
                        <label class="ratingControl-stars ratingControl-stars--5" ng-class="{'ratingControl-stars--half': IncrementBy == 0.5}" for="rating-45" ng-click="SaveStarAnswer(4.5)">45</label>

                        <input type="radio" id="rating-4" name="rating" value="4" ng-model='SelectedValues.single'>
                        <label class="ratingControl-stars ratingControl-stars--4" for="rating-4" ng-click="SaveStarAnswer(4)">4</label>
                        <input type="radio" id="rating-35" name="rating" value="3.5" ng-model='SelectedValues.single'>
                        <label class="ratingControl-stars ratingControl-stars--4" ng-class="{'ratingControl-stars--half': IncrementBy == 0.5}" for="rating-35" ng-click="SaveStarAnswer(3.5)">35</label>

                        <input type="radio" id="rating-3" name="rating" value="3" ng-model='SelectedValues.single'>
                        <label class="ratingControl-stars ratingControl-stars--3" for="rating-3" ng-click="SaveStarAnswer(3)">3</label>
                        <input type="radio" id="rating-25" name="rating" value="2.5" ng-model='SelectedValues.single'>
                        <label class="ratingControl-stars ratingControl-stars--3" ng-class="{'ratingControl-stars--half': IncrementBy == 0.5}" for="rating-25" ng-click="SaveStarAnswer(2.5)">25</label>

                        <input type="radio" id="rating-2" name="rating" value="2" ng-model='SelectedValues.single'>
                        <label class="ratingControl-stars ratingControl-stars--2" for="rating-2" ng-click="SaveStarAnswer(2)">2</label>
                        <input type="radio" id="rating-15" name="rating" value="1.5" ng-model='SelectedValues.single'>
                        <label class="ratingControl-stars ratingControl-stars--2" ng-class="{'ratingControl-stars--half': IncrementBy == 0.5}" for="rating-15" ng-click="SaveStarAnswer(1.5)">15</label>

                        <input type="radio" id="rating-1" name="rating" value="1" ng-model='SelectedValues.single'>
                        <label class="ratingControl-stars ratingControl-stars--1" for="rating-1" ng-click="SaveStarAnswer(1)">1</label>
                        <input type="radio" id="Radio1" name="rating" value="0.5" ng-model='SelectedValues.single'>
                        <label class="ratingControl-stars ratingControl-stars--1" ng-class="{'ratingControl-stars--half': IncrementBy == 0.5}" for="Radio1" ng-click="SaveStarAnswer(0.5)">05</label>
 -->
                          
                        </div>
                    </div>